VITE_API_BASE_URL=http://your-api-base-url/api/
VITE_API_AIRPORT_BASE_URL=https://your-airport-api-url/api/v1/
VITE_FLIGHT_API_BASE_URL=https://your-flight-api-url/api/
VITE_Image_URL=https://your-image-url/
